// Scrollbar

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0a0a0a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// BS classes

.navbar-collapse {
  @media screen and (max-width: 992px) {
    display: block !important;
    background-color: black;
    z-index: 900000;
    height: calc(100vh - 60px - 16px);
    transition: 0.4s all;
    position: fixed;
    right: -300px;
    top: 76px;
    &[show] {
      position: absolute;
      top: 76px;
      right: 0;
      width: 100%;
    }
    .navbar-nav {
      .nav-item {
        text-align: left;
        padding: 0.2rem 1rem;
      }
    }
  }
}

.navbar-brand {
  position: relative;
  .expirience {
    font-size: 12px;
    position: absolute;
    left: 1px;
    bottom: -7px;
  }
  .current-level {
    position: relative;
    top: -1px;
    background-color: $amount !important;
    font-size: 1rem;
    line-height: 15px;
    margin-right: 2px;
  }
}

.level-progress {
  height: 16px;
  box-shadow: 0 4px 2px -2px gray;
  position: relative;
  .progress {
    height: 16px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    cursor: default;
    .progress-bar {
      height: 16px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      font-size: 11px;
      font-weight: 800;
      background: linear-gradient(to right, #93309c, magenta, yellow, orange, magenta, #93309c);
      color: black;
      @media screen and (max-width: 992px) {
        background: linear-gradient(to right, #93309c, magenta, yellow);
      }
    }
  }
}

.badge {
  padding: 0.25rem 0.2rem;
  &.badge-info {
    background-color: $info;
    color: #0a0a0a;
  }
}

.progress {
  cursor: pointer;
  height: 1.5rem;
  .progress-bar {
    background-color: $primary2;
  }
}

.navbar {
  height: 60px;
  background-color: black;
}

// Makeup collection
#projectpan {
  font-family: "Sarabun", sans-serif;
  width: 100%;
  height: calc(100vh - 78px);
  padding: 0;
  margin: 0;
  @media screen and (max-width: 992px) {
    height: calc(100vh - 76px);
  }
  .toolbox-show {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9000;
    background-color: black;
    color: white;
    padding: 12px;
    border-radius: 100%;
    line-height: 0;
    cursor: pointer;
    @media screen and (max-width: 992px) {
      bottom: 8px;
      left: 8px;
    }
  }
  .toggle-collection{
    left: 50px;
    bottom: 8px;
    position: fixed;
    z-index: 9000;
    background-color: black;
    color: white;
    padding: 12px;
    border-radius: 100%;
    line-height: 0;
    cursor: pointer;
  }
  .toolbox-what {
    position: absolute;
    bottom: 70px;
    left: 20px;
    display: none;
    p {
      padding: .5rem 1rem;
      margin: 0;
      width: 140px;
      background-image: linear-gradient(30deg, $primary1, $primary2);
      color: white;
      cursor: pointer;
      border-bottom: 1px solid white;
      &:first-of-type {
        border-radius: 12px 12px 0 0;
      }
      &:last-of-type {
        border-bottom: 0;
        border-radius: 0 0 12px 12px;
      }
    }
  }
  .toolbox {
    position: absolute;
    display: none;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .5);
    @media screen and (max-width: 992px) {
      z-index: 11000;
    }
    .close-adding {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 8000;
    }
    .inside {
      width: 100%;
      height: 100%;
      display: flex;
      @media screen and (max-width: 992px) {
        padding: 1rem;
        .card{
          width: 90% !important;
        }
      }
    }
  }

  .main-box {
    width: 100%;
    height: 100%;
    .collection {
      //background-image: linear-gradient(30deg, $primary1, $primary2);
      //background-color: $dark;
      background-image: linear-gradient(0deg, $dark, $darker);
      //background: #009B77;
      padding: .5rem 1rem;
      height: 100%;
      width: 19%;
      color: white;
      overflow-y: scroll;
      @media screen and (max-width: 992px) {
        z-index: 8000;
        height: calc(100vh - 60px - 16px);
        transition: 0.4s all;
        position: fixed;
        left: -1000px;
        top: 76px;
        width: 100%;
        &[show] {
          position: absolute;
          top: 76px;
          left: 0;
          width: 100%;
        }
      }
      .header {
        font-size: 1.5rem;
        font-weight: 700;
      }
      > ul {
        list-style: none;
        padding-inline-start: 0;
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 5rem;
        ul {
          font-size: 0.9rem;
          font-weight: 100;
          display: none;
          list-style: none;
          padding-inline-start: 0.5rem;
          padding-bottom: 0.6rem;
          .product-amount {
            width: 10px;
            height: 19px;
            line-height: 0.9;
            border: 1px solid rgba(0, 0, 0, 0.85);
            position: relative;
            bottom: 1px;
            display: inline-block;
            background-color: white;
            border-radius: 4px;
            .amount {
              transition: 0.5s all;
              position: absolute;
              border-radius: 3px;
              left: 0;
              bottom: 0;
              width: 103%;
              background-color: $amount;
            }
          }
          .brand {

          }
          .item {
            cursor: pointer;
          }
        }
        ul[shown] {
          display: block !important;
        }
      }
    }
    .activity-box {
      width: 81%;
      height: 100%;
      overflow-y: scroll;
      position: relative;
      @media screen and (max-width: 992px) {
        width: 100%;
        h1{
          font-size: 2rem;
        }
      }
      .edit-box {
        width: 81%;
        height: calc(100% - 78px);
        z-index: 10000;
        background-color: #000000a0;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 992px) {
          width: 100%;
          .form{
            width: 90% !important;
          }
        }
        .close {
          position: absolute;
          right: 10px;
          top: 10px;
        }
        .form {
          width: 50%;
        }
      }
      .product-show-placeholder {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        opacity: 0.5;
        p {
          text-align: center;
        }
      }
      .product-show {
        width: 100%;
        padding: 1rem;
        margin: auto;
        @media screen and (max-width: 992px) {
          padding: 0;
        }
        .bx-highlight {
          font-size: 0.7rem;
          padding: 0 0.3rem;
          color: gray;
          cursor: pointer;
          &:hover {
            color: black;
          }
        }
        .brand-box {
          padding: 1rem;
          .brand-logo {
            width: 100px;
            height: 100px;
            margin: auto;
            border-radius: 50%;
            background-color: black;
          }
          p {
            margin: 0;
            font-size: 24px;
          }
        }
        .gallery {
          height: 60vh;
          width: 100%;
          position: relative;
          display: flex;
          background: #000;
          @media screen and (max-width: 992px) {
            height: 30vh;
          }
          > div {
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }
          .gallery-image {
            position: relative;
            background-color: black;
            overflow: hidden;
            transition: all 0.3s;
            cursor: pointer;
            &.new {
              cursor: default;
              background-color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              @media screen and (max-width: 992px) {
                div{
                  h2{
                    margin-left: 1rem;
                    font-size: 1.1rem !important;
                    font-weight: 700;
                  }
                  input{
                    margin-left: 1rem;
                    font-size: 0.7rem !important;
                  }
                  button{
                    margin-left: 1rem !important;
                    font-size: 0.8rem !important;
                  }
                }
              }
              button {
                border: 0;
                background: 0;
                cursor: pointer;
              }
            }
            .date {
              position: absolute;
              bottom: 9px;
              left: 9px;
              color: #000;
              background-color: white;
              opacity: 0.5;
              padding: 4px;
              transition: 0.3s all;
              cursor: default;
              border-radius: 6px;
              &:hover {
                opacity: 1;
              }
              p {
                line-height: 13px;
              }
            }
            .delete {
              height: fit-content;
              line-height: 1px;
              display: block;
              position: absolute;
              bottom: 9px;
              right: 9px;
              font-size: 1.2rem;
              padding: 4px;
              border-radius: 50%;
              background-color: white;
              color: black;
            }
          }
        }
        .body {
          @media screen and (max-width: 992px) {
            padding: 0.5rem;
            h1{
              font-size: 1.4rem;
            }
            h4{
              font-size: 1.12rem;
              font-weight: 700;
            }
          }
          .amount {
            background-color: $amount;
            font-weight: 700;
            color: white;
          }
          .dates {
            font-size: 0.7rem;
          }
          .rating {
            cursor: default;
            span {
              margin-right: -6px;
              transition: all 0.3s;
              font-size: 1.3rem;
              cursor: pointer;
              &.bx-star {
                opacity: 0.7;
                &:hover {
                  opacity: 1;
                }
              }
              &.bxs-star {
                opacity: 1;
              }
            }
          }
          .stats {
            position: fixed;
            bottom: 18px;
            right: 20px;
            @media screen and (max-width: 992px) {
              bottom: 10px;
              right: 10px;
            }
            .if-pan {
              width: 50px;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: darkgray;
              color: white;
              margin-bottom: 10px;
              border-radius: 50%;
              cursor: pointer;
              opacity: 0.85;
              transition: all 0.3s;
              &:hover {
                opacity: 1;
                background-color: black;
                color: white;
              }
              &.true {
                background-color: black;
                color: white;
                opacity: 1;
              }
              div {
                line-height: 16px;
              }
            }
            .uses_count {
              width: 50px;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: black;
              color: white;
              border-radius: 50%;
              cursor: pointer;
              div {
                line-height: 3px;
                position: relative;
                top: -5px;
              }
            }
            > p {
              margin: 0;
              padding: 0;
              position: absolute;
              bottom: 9px;
              width: 100%;
              text-align: center;
              color: #f4fff3;
              font-size: 12px;
            }
            span {
              position: absolute;
              bottom: 9px;
              right: 9px;
              background-color: white;
              color: #000;
              line-height: 1px;
              padding: 3px;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }

  .category {
    cursor: pointer;
  }

}