// Scrollbar

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0a0a0a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// Media  media screen and (max-width: 992px)

// BS classes

.tooltip, .tooltip-inner {
  @media screen and (max-width: 992px) {
    display: none !important;
  }
}
.navbar-brand{
  @media screen and (max-width: 992px) {
    margin-right: 0 !important;
  }
}
.current-level {
  background: linear-gradient(30deg, $dark, $darker);
}

.level-progress {
  .progress {
    border-radius: 0 !important;

    .progress-bar {
      background: linear-gradient(90deg, $dark, $darker );
    }
  }
}

.progress {
  border-radius: 12px !important;
  &.amount {
    border-radius: 0 !important;

    .progress-bar {
      background: linear-gradient(90deg, #662D8C, #ED1E79);
    }
  }

  .progress-bar {
    &.amount {
      background: linear-gradient(90deg, #662D8C, #ED1E79);
    }
  }
}

.navbar {
  background-color: #f1f1f1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card {
  border-radius: 12px !important;
}

// Mobile navigation collapse
.navbar-collapse {
  @media screen and (max-width: 992px) {
    display: block !important;
    background-color: white;
    z-index: 900000;
    height: calc(100vh - 60px - 16px);
    transition: 0.7s all;
    position: fixed;
    left: -100%;
    width: 100%;
    top: 76px;
    &.guest {
      top: 60px !important;
    }
    &[show] {
      position: absolute;
      top: 76px;
      left: 0;
    }
    .navbar-nav {
      .nav-item {
        text-align: left;
        padding: 0.2rem 1rem;
      }
    }
  }
}

// CUSTOM

.toolbox-show {
}

.main-box {
  position: relative;
  height: calc(100vh - 60px - 12px - 68px);
  overflow-y: scroll;
  background-color: #f9f9f9;

  // Toolbox
  .toolbox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    transition: 0.5s all;
    z-index: 100;
    &[show] {
      top: 0;
    }

    .inside {
      padding: 2rem;
      margin: 0 auto;
    }
  }

  // Collection box
  .collection {
    position: absolute;
    z-index: 600;
    left: -80%;
    transition: 0.8s all;
    background: #f1f1f1;
    width: 80%;
    height: 100%;
    overflow-y: scroll;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    &[show] {
      left: 0;
    }
    @media screen and (max-width: 992px) {
      left: -100%;
      width: 100%;
    }

    .header {
      font-size: 2.2rem;
      padding: 1.2rem 2rem;
      @media screen and (max-width: 992px) {
        font-size: 1.9rem;
      }
    }

    .category {
      > span {
        font-size: 1.7rem;
        cursor: pointer;
        display: block;
        transition: 0.3s all;
        padding: 0.7rem 2rem;
        @media screen and (max-width: 992px) {
          font-size: 1.4rem;
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }

    .row {
      margin: 0;
      padding: 0 0.4rem;
      overflow: hidden;
      height: 0;
      opacity: 0;
      transition: 0.3s all;
      &[show] {
        height: unset;
        opacity: 1;
      }

      .product {
        padding: 0.5rem;
        cursor: pointer;
        transition: 0.3s all;
        background: transparent;
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }

        .thumbnail {
          background-color: #606f7b;
          width: 90%;
          height: 140px;
          margin: 0 auto;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          @media screen and (max-width: 992px) {
            height: 110px;
          }
        }

        .brand {

        }

        .item {
          font-weight: 600;
        }

        .amount {
          width: 90%;
          margin: 0 auto;
          border-radius: 0;
          height: 7px;

          .progress-bar {
            border-radius: 0;
            height: 7px;
          }
        }

        p {
          text-align: center;
          margin: 0;
        }
      }
    }
  }

  .activity-box {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    .edit-box {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      .form {
        width: 60%;
        @media screen and (max-width: 992px) {
          width: 90%;
        }
      }
    }

    .product-show-placeholder {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      h1{
        @media screen and (max-width: 992px){
          font-size: 1.4rem;
        }
      }
      p{
        @media screen and (max-width: 992px){
          font-size: 1rem;
        }
      }
      h1, p {
        opacity: 0.7;
        text-align: center;
      }
      .tips1 {
        opacity: 0.7;
        position: absolute;
        bottom: 5px;
        left: 26px;
        font-size: 1.2rem;
      }
    }

    .product-show {
      width: 100%;

      .bx-highlight {
        font-size: 0.9rem;
        color: darkgray;
        transition: 0.3s all;
        cursor: pointer;
        &:hover {
          color: black;
        }
      }

      // Brand + product name
      h1{
        @media screen and (max-width: 992px){
          font-size: 1.8rem;
        }
      }

      .card {
        display: block;

        p {
          margin: 0;
        }
      }

      .dates{
        @media screen and (max-width: 992px){
          font-size: 0.8rem;
        }
      }

      .stats {
        //position: absolute;
        //bottom: 10px;
        //right: 10px;
        padding: 0.5rem;
        display: flex;

        .if-pan {
          margin-right: 8px;
          background: #E6E6E6;
          &.true {
            background: linear-gradient(30deg, #662D8C, #ED1E79);
            color: #f1f1f1;
          }
        }

        .uses_count {
          background: linear-gradient(30deg, #808080, #E6E6E6);
        }

        .uses_count, .if-pan {
          cursor: pointer;
          width: 52px;
          height: 52px;
          font-size: 1.3rem;
          margin-right: 0.5rem;
          line-height: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 12px;

          #active-uses-count {
            position: relative;
            bottom: -5px;
          }

          small {
            font-size: 0.9rem;
            position: relative;
            top: -5px;
          }
        }
      }

      .rating {
        span {
          cursor: pointer;
          margin-right: -6.5px;
          font-size: 1.4rem;
        }
      }

      .gallery {
        height: 60vh;
        position: relative;
        display: flex;
        background: black;
        border-radius: 12px;
        @media screen and (max-width: 992px) {
          height: 35vh;
        }

        > div {
          height: 100%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }

        .gallery-image {
          position: relative;
          background-color: black;
          overflow: hidden;
          transition: all 0.3s;
          cursor: pointer;
          &.new {
            cursor: default;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: 992px) {
              div {
                h2 {
                  margin-left: 1rem;
                  font-size: 1.1rem !important;
                  font-weight: 700;
                }
                input {
                  margin-left: 1rem;
                  font-size: 0.7rem !important;
                }
                button {
                  margin-left: 1rem !important;
                  font-size: 0.8rem !important;
                }
              }
            }
            button {
              border: 0;
              background: 0;
              cursor: pointer;
            }
          }
          .date {
            position: absolute;
            bottom: 9px;
            left: 9px;
            color: #000;
            background-color: white;
            opacity: 0.5;
            padding: 4px;
            transition: 0.3s all;
            cursor: default;
            border-radius: 6px;
            &:hover {
              opacity: 1;
            }
            p {
              line-height: 13px;
            }
          }
          .delete {
            height: fit-content;
            line-height: 1px;
            display: block;
            position: absolute;
            bottom: 9px;
            right: 9px;
            font-size: 1.2rem;
            padding: 4px;
            border-radius: 50%;
            background-color: white;
            color: black;
          }
        }
      }
    }
  }
}

.footer-box {
  background-color: #f1f1f1;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 67px;
  display: flex;
  padding: .5rem 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;

  .toggle-toolbox, .toggle-collection {
    background: linear-gradient(30deg, $dark, $darker);
    color: #f1f1f1;
    cursor: pointer;
    padding: 0.1rem 0.5rem;
    font-size: 2.1rem;
    margin-right: 0.5rem;
    border-radius: 12px;
    line-height: 15px;
    p{
      text-align: center;
      font-size: 7px;
      margin: 0;
      position: relative;
      top: -2px;
    }
  }

}