
// Body
$body-bg: #F6F6F6;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// GOGOGO
$primary: #ffa8cb;
$primary1: #F24370;
$primary2: #e539b8;

$dark: #F24370;
$darker: #7205FC;
$amount: #e71d43;

$info: #dbbce5;
$button: #e71d43;

// Old vars
//$primary: #ffa8cb;
//$primary1: #F24370;
//$primary2: #e539b8;
//$dark: #F24370;
//$darker: #7205FC;
//$amount: #8fe03b;
//$info: #dbbce5;