
// Body
$body-bg: #E0F7FA;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// GOGOGO
$primary: #4DD0E1;
$primary1: #26C6DA;
$primary2: #00BCD4;

$dark: #00838F;
$darker: #006064;

$info: #4DD0E1;
